.link {
  position: relative;
  color: your-primary-color;
  transition: color 0.3s;

  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: your-accent-color;
    transition: width 0.3s;
  }

  &:hover:after {
    width: 100%;
  }
}
